.container-lg {
  .card {
    background-color: rgb(250, 250, 250);
    border: none;
    border-radius: 10px;

    .card-body {
      .checkout {
        padding: 0 1rem;

        :nth-child(2) {
          text-align: end;
        }
      }

      .item {
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin: 0 1rem;
        padding: 1rem 0;

        &:last-child {
          border: none;
        }

        .item-img {
          width: 8.5rem;
          height: 12rem;
          border-radius: 5px;
        }

        .col-12 {
          .content-item {
            height: 100%;

            .quantity {
              display: flex;
              align-items: center;
              gap: 1rem;

              :first-child {
                cursor: pointer;
                color: rgb(95, 95, 95);
              }

              :last-child {
                cursor: pointer;
                color: rgb(95, 95, 95);
              }

              :nth-child(2) {
                font-size: 1.3rem;
                font-weight: 500;
                width: 1.5rem;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:992px) {
  .container-lg {
    .card {
      .card-body {
        .checkout {
          flex-direction: column-reverse;
          padding-left: 1rem;
          padding-right: 1rem;

          .col-12 {
            margin-bottom: .5rem;

            button {
              width: inherit;
            }
          }
        }

        .item {
          gap: 0;

          .item-img {
            width: 100%;
            height: 22rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width:576px) {
  .container-lg {
    .card {
      .card-body {
        .item {
          gap: .5rem;

          .item-img {
            padding: .5rem 6.5rem;
          }

          .col-12 {
            .content-item {
              height: 7rem;

              .content {
                :nth-child(1) {
                  font-size: 1rem;
                }

                :nth-child(2) {
                  font-size: .8rem;

                  span {
                    font-size: .8rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width:500px) {
  .container-lg {
    .card {
      .card-body {
        .item {
          .item-img {
            padding: 1rem 3rem;
          }
        }
      }
    }
  }
}