.carousel {
  .carousel-control-prev {
    visibility: hidden;
  }

  .carousel-control-next {
    visibility: hidden;
  }
}

.container {
  .row {
    .slick-slider {
      border-radius: 10px;

      .slick-arrow::before {
        color: rgba(0, 0, 0, 0.8);
        font-size: 2.5rem;
        font-weight: bold;
      }

      .slick-next {
        z-index: 10;
        right: .4rem;
      }

      .slick-prev {
        z-index: 10;
        left: -.9rem;
      }

      .img-custom {
        width: 11.5rem;
        height: 16.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all .4s ease-in-out;

        &:hover {
          transform: scale(1.025);
          box-shadow: 2px 4px 12px 7px rgba(0, 0, 0, 0.1);
        }
      }
    }

    .header-text {
      font-weight: 600;
      color: rgb(50, 0, 50);
      line-height: 2.6rem;
    }
  }
}