.navbar {
  .container-fluid {
    display: block !important;

    .row {
      .search-input {
        position: relative;

        ::-webkit-input-placeholder {
          color: rgb(148, 148, 148);
          font-size: 1rem;
        }

        ::-moz-placeholder {
          color: rgb(148, 148, 148);
          font-size: 1rem;
        }

        :-moz-placeholder {
          color: rgb(148, 148, 148);
          font-size: 1rem;
        }

        .form-control {
          background-color: rgb(240, 240, 240);
          border: none;
          border-radius: 25px;
          font-size: 1rem;
          color: rgb(148, 148, 148);
        }

        i {
          cursor: pointer;
          position: absolute;
          top: .8rem;
          right: .8rem;
          font-size: 1rem;
          color: rgb(154, 82, 179);
        }
      }

      .shopping-cart {
        p {
          cursor: pointer;
          margin: 0;
          font-size: .9rem;
          font-weight: 500;
          width: 100%;
          text-align: end;
        }

        .btn {
          width: 6.2rem;
          font-size: .8rem;
          box-shadow: none;

          &:focus {
            box-sizing: none;
          }
        }

        .cart {
          position: relative;

          i {
            cursor: pointer;
            font-size: 1.2rem;
            color: rgb(128, 128, 128);
          }

          .quantity {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: .8rem;
            font-weight: 600;
            width: 1.3rem;
            height: 1.3rem;
            background-color: rgb(154, 82, 179);
            color: #fff;
            position: absolute;
            border-radius: 50%;
            top: -.5rem;
            right: -.6rem;
          }
        }
      }

      .navbar-toggler {
        width: fit-content;
        font-size: 1.2rem;
        border: none;

        &:focus {
          box-shadow: none;
        }

      }
    }
  }
}

.offcanvas {
  .offcanvas-header {
    .logo {
      width: 2.5rem;
      border-radius: 50%;
    }

    .btn-close {
      background-image: url('https://rails-assets-us.bookshop.org/assets/close-7c90c1bf09be468c6cbc40e3f3d300b94ab697da4bf80842fe28adfc83b5a2fb.svg');
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }

  .offcanvas-body {
    padding-top: 0 !important;

    .navbar-nav {
      .nav-link-hover {
        color: rgb(70, 70, 70);
        padding-left: 0;
        padding-right: 0;
        margin-bottom: -.5rem;
        border-bottom: 2px solid white;

        &:hover {
          border-bottom: 2px solid rgb(154, 82, 179);
        }
      }
    }

    .dropdown {

      .dropdown-toggle {
        padding-bottom: .5rem;
        margin-bottom: -.5rem;
      }

      &:hover {
        .dropdown-menu {
          display: block;
        }
      }

      .dropdown-menu {
        display: none;
        padding: 0;
        width: 35rem;
        top: 2.5rem;
        left: -15rem;
        border: none;
        border-radius: 0px;
        background-color: rgb(250, 250, 250);

        .links {
          width: 50%;
          padding: 2rem 1.5rem;

          a {
            font-size: .9rem;
            color: rgb(70, 70, 70);
            padding: 0;
            width: fit-content;
            margin-bottom: 1rem;
            border-bottom: 1px solid rgb(251, 251, 251);

            &:hover {
              border-bottom: 1px solid rgb(154, 82, 179);
            }
          }
        }
      }
    }
  }
}

// Decorate navbar when it go down to 992px
@media screen and (max-width:992px) {

  .offcanvas {
    width: 100% !important;

    .offcanvas-body {
      padding: 1rem 0;

      .navbar-nav {
        gap: 0 !important;

        &:last-child {
          border-bottom: 1px solid rgb(220, 220, 220);
        }

        .nav-link-hover {
          width: inherit;
          border-top: 1px solid rgb(220, 220, 220);
          padding: .8rem 1rem;
          margin-bottom: 0rem;
          border-bottom: none;

          &:hover {
            background-color: rgb(240, 240, 240);
            border-bottom: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width:576px) {
  .navbar {
    .container-fluid {
      padding-left: 1rem;
      padding-right: 1rem;

      .row {
        .search-input {
          padding-left: 1.5rem;
        }
      }
    }
  }

  .offcanvas {
    width: 100% !important;

    .offcanvas-body {

      .dropdown {
        .dropdown-menu {
          padding: 1rem 0;

          .links {
            padding: 0 1rem;
          }
        }
      }
    }
  }
}